# network config
NETWORK=goerli

# Private key of the owner address
PRIVATE_KEY= 

# Etherscan key(Used in gas reporter)
ETHERSCAN_API_KEY=QYBRVVXE7SRGIJV4A2GJXAK9ARVGIVUYMC
# Coinmarketcap api key(Used in gas reporter)
COINMARKETCAP_API_KEY=e904c6d7-7cef-4702-8cb3-10c36d9bde5a

# Are you going to use gas reporter or not
REPORT_GAS=true

# RPC URL
GOERLI_URL=https://goerli.infura.io/v3/6b39d050960f4fb79f5c42940ae2c8cc
SEPOLIA_URL=https://sepolia.infura.io/v3/6b39d050960f4fb79f5c42940ae2c8cc
MAINNET_URL=https://mainnet.infura.io/v3/6b39d050960f4fb79f5c42940ae2c8cc
