# network config
NETWORK=goerli

# Private key of the owner address
PRIVATE_KEY= 

# Etherscan key(Used in gas reporter)
ETHERSCAN_API_KEY=
# Coinmarketcap api key(Used in gas reporter)
COINMARKETCAP_API_KEY=

# Are you going to use gas reporter or not
REPORT_GAS=true

# RPC URL
GOERLI_URL=https://goerli.infura.io/v3/{INFURA_API_KEY}
SEPOLIA_URL=https://sepolia.infura.io/v3/{INFURA_API_KEY}
MAINNET_URL=https://mainnet.infura.io/v3/{INFURA_API_KEY}
